* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* header section css part start  */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: aqua;
}

header nav ul li {
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    transition: all linear 0.5s;

}

header nav ul li a {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
}

.dropdown {
    position: absolute;
    display: block;
    box-shadow: 1px 1px 5px 5px #000;
    background-color: #fff;
    border-radius: 5px;
    z-index: 20;
    display: none;
    transition: all linear 0.5s;

}

header nav ul li:hover>.dropdown {
    display: block;
    transition: all linear 0.5s;
}

/* header section css part end */
/* main section css part start  */
main {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    background-color: white;
    margin-top: 20px;
    width: 600px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.form_heading{
    text-align: center;
    padding-bottom: 15px;
    text-transform: capitalize;
}
label{
    display: block;
    width: 100%;
    margin-top: 10px;
}
form input, form select{
    border: none;
    outline: none;
    border: 2px solid  #8549f9;
    padding: 12px 10px;
    border-radius: 8px;
    width: 100%;
    margin-top: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
form input::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    color: #cecece;
}
form input:hover{
    border: 2px solid  #ffd580;
}
form input:focus{
    border: 2px solid  #ffd580;
}
#first, #last {
    width: 49%;
}
.p_f, .p_l{
    width: 49%;
}
#last, .p_l {
    float: right;
}

form button{
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px 0px;
    background-color: #ffd580;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight:500;
    text-transform: uppercase;
}
/* main section css part END */